body {
    margin: 0;
    background-image: url("images/basketball.jpeg");
    background-size: cover;
}


.container {
    width:350px;
    margin:80px auto 0px auto;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #182c82;
    min-width:250px;
    border-radius: 19px;
    padding: 20px 10px 40px 1px;
}

h3 {
    font-family: Verdana;
    font-size:40px;
    font-weight:40px;
    color:white;
    width:149px;
    line-height:36px;
    height:36px;
    margin-top:50px;
    margin-left:10px;
}
h1 {
    font-family:Cursed Timer ULiL;
    font-size:100px;
    color:#F94F6D;
    width:130px;
    text-align:center;
    background:black;
    margin-top:-10px; 
    margin-bottom:0px;
    border-radius: 5px;
}
button {
    margin-top:20px;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 4px;;
    height: 45px;
    width: 45px;
    margin-right:auto;
    font-size: 15px;
}
#home{
    margin-left:12px
}
#guest{
    margin-left:20px;
}
.nGame {
    display: flex;
    width:120px;
    background-color:rgb(7, 155, 12);
    color:black;
    font-size:20px;
    text-align:center;
    margin-top:0px;
    border:2px solid white;
    border-radius: 5px;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    
}
.Button_2 {
    margin-left:14px;
}
.Button_1 {
    margin-left:7px;
}
