body {
    margin: 0;
    background-color: #1B244A;
}


.container {
    margin:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #1B244A;
    min-width:250px;
    padding-bottom:30px;
}
div {

    margin-left: 0px;
}
h3 {
    font-family: Verdana;
    font-size:40px;
    font-weight:40px;
    color:white;
    width:149px;
    line-height:36px;
    height:36px;
    margin-top:50px;
}
h1 {
    font-family:Cursed Timer ULiL;
    font-size:90px;
    width:155px;
    height:120px;
    color:#F94F6D;
    padding-top:20px;
    text-align:center;
    background:black;
    margin-top:-3px; 
    margin-bottom:0px;
    border-radius: 5px;
}
button {
    margin-top:30px;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 4px;;
    height: 45px;
    width: 45px;
    margin-left:-1px
}
#home{
    margin-left:-8px;
}
#guest{
    margin-left:-4px;
}
.nGame {
    display: flex;
    width:120px;
    background-color:greenyellow;
    color:black;
    font-size:20px;
    text-align:center;
    margin-top:0px;
    border:2px solid black;
    border-radius: 5px;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    
}